:root{
    --green-color: #50b14a;
    --dark-color: #333333;
    --shade-of-dark: #3E3D3D;
    --light-green-color: #e0f6e7;
    --input-field-color: #f3f5fb;
}

body{
    height: 100vh;
    color: var(--dark-color);
}

.sidebar{
    background-color: var(--dark-color);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
}

.offcanvas.offcanvas-nav{
    width: 40%;
    background-color: var(--dark-color);
}

h4{
    font-size: 40px;
}

.card-1,
.card-2{
    width: 300px;
}

.balance{
    font-size: 20px;
}

.amount{
    font-size: 30px;
}

.user{
    background-color: var(--shade-of-dark);
}

.user-image{
    width: 40px;
}

.main-content{
    height: 100vh;
    background-color: var(--input-field-color);
    margin-left: 200px;
}

thead{
    background-color: var(--light-green-color);
}

main.form-wrapper{
    width: 300px;
}

.form-wrapper{
    width: 80%;
}

h1>span{
    color: var(--green-color);
}

.input-field{
    width: 17rem;
}

input.form-control-sm:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

input.form-control,
input.form-control-sm,
.form-select,
textarea.form-control{
    border: 0;
    background-color: var(--input-field-color);
}

.terms-condition{
    font-size: 14px;
}

input[type=button],.btn.cta-btn{
    background-color: var(--green-color);
}



/*********************************************** Mobile Design ***********************************************/

@media screen and (max-width: 767px) {
    .main-content {
       margin-left: 0px;
    }

    h4{
        font-size: 30px;
    }

    .form-wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 630px) {
    .table-responsive{
        width: 24rem;
    }
}

@media screen and (max-width: 575px) {
   .offcanvas.offcanvas-nav{
        width: 60%;
    }

    .form-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .card-1,
    .card-2{
        width: auto;
    }
}

@media screen and (max-width: 470px) {
    .offcanvas.offcanvas-nav {
        width: 80%;
    }

    .table-responsive {
        width: auto;
    }
}

@media screen and (max-width: 370px) {
   .input-field{
        width: auto;
   }
}
